<div id="statusArea" className="status">
  Next player: <span>{{ nextPlayer }}</span>
</div>
<div id="winnerArea" className="winner">
  Winner: <span>{{ winner }}</span>
</div>
<button (click)="resetGame()">Reset</button>
<section>
  <div
    class="row"
    *ngFor="let row of ' '.repeat(boardWidth).split(''); let rowIndex = index"
  >
    <button
      *ngFor="let col of ' '.repeat(boardWidth).split(''); let colIndex = index"
      (click)="handleClickCell(rowIndex, colIndex)"
      [disabled]="winner !== 'None'"
      class="square"
      style="width: 40px; height: 40px"
    >
      {{ this.board[rowIndex][colIndex] }}
    </button>
  </div>
</section>
