<div class="app-wrapper">
  <div class="next-player-wrapper">
    Next player:
    <span
      [class]="{
        'player-one': nextPlayer === 'X',
        'player-two': nextPlayer === 'O'
      }"
      >{{ nextPlayer }}</span
    >
  </div>

  <div class="winner-wrapper">
    Winner: <span>{{ winner }}</span>
  </div>

  <div class="celebrating-img-wrapper" *ngIf="winner !== 'None'">
    <img src="./assets/images/celebrating.png" />
  </div>

  <div class="board-size-wrapper">
    <div class="board-size-input-wrapper">
      <label for="board-size">Board size </label>
      <input
        type="number"
        id="board-size"
        [ngModel]="boardWidth"
        #boardWidthInput="ngModel"
        (change)="handleSetBoardWidth(boardWidthInput.control.value)"
      />
    </div>

    <div class="error-message">
      {{ errorMessage }}
    </div>
  </div>

  <div class="reset-wrapper">
    <button (click)="initOrResetGame()">Reset</button>
  </div>

  <div class="board-wrapper">
    <div
      class="row"
      *ngFor="let row of ' '.repeat(boardWidth).split(''); let rowIndex = index"
    >
      <button
        *ngFor="
          let col of ' '.repeat(boardWidth).split('');
          let colIndex = index
        "
        (click)="handleClickCell(rowIndex, colIndex)"
        [disabled]="winner !== 'None' || !!getCellValue(rowIndex, colIndex)"
        [class]="{
          cell: true,
          'player-one': getCellValue(rowIndex, colIndex) === 'X',
          'player-two': getCellValue(rowIndex, colIndex) === 'O'
        }"
      >
        {{ getCellValue(rowIndex, colIndex) }}
      </button>
    </div>
  </div>
</div>
